# Docker image
# Build a Docker image to deploy, run, or push to a container registry.
# Add steps that use Docker Compose, tag images, push to a registry, run an image, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- master

pool:
  vmImage: 'Ubuntu-16.04'

variables:
  imageName: 'shashankbarsin/bootcamp-demo:$(build.buildId)'

steps:
- task: Docker@1
  displayName: Container registry login
  inputs:
    command: login
    containerregistrytype: Container Registry
    dockerRegistryEndpoint: dockerHub
- task: Docker@1
  displayName: Build image
  inputs:
    command: build
    dockerFile: app/Dockerfile
    imageName: $(imageName)
- task: Docker@1
  displayName: Push image
  inputs:
    command: push
    containerregistrytype: Container Registry
    dockerRegistryEndpoint: dockerHub
    imageName: $(imageName)
- script: |
    sed -i 's/{tag}/$(build.buildId)/' manifests/deployment.yml
    cat manifests/deployment.yml
- task: KubernetesManifestBased@1
  displayName: deploy
  inputs:
    kubernetesServiceEndpoint: k8sSC
    manifests: manifests/*